In [1]:
import pandas as pd

df = pd.read_csv("Students_exams.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         1000 non-null   object
 1   math score     1000 non-null   int64
 2   reading score  1000 non-null   int64
 3   writing score  1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [2]:
statistic_df = pd.DataFrame(['statisic','math','reading','writing'])
statistic_df

          0
0  statisic
1      math
2   reading
3   writing

In [3]:
df.rename(columns={
        'math score': 'math_score', 
        'reading score': 'reading_score',
        'writing score': 'writing_score',
    }, inplace=True
)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         1000 non-null   object
 1   math_score     1000 non-null   int64
 2   reading_score  1000 non-null   int64
 3   writing_score  1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [4]:
statistic_df = pd.DataFrame(columns=['statisic','math','reading','writing'])
statistic_df

Empty DataFrame
Columns: [statisic, math, reading, writing]
Index: []

In [7]:
x = df['math_score'].count()
y = df['reading_score'].count()
z = df['writing_score'].count()

row = {'statisic':'count','math':x,'reading':y,'writing':z}

statistic_df = pd.concat([statistic_df,pd.DataFrame().from_records([row])],ignore_index=True)
statistic_df

  statisic  math reading writing
0    count  1000    1000    1000

In [8]:
x = df['math_score'].mean()
y = df['reading_score'].mean()
z = df['writing_score'].mean()

row = {'statisic':'mean','math':x,'reading':y,'writing':z}

statistic_df = pd.concat([statistic_df,pd.DataFrame().from_records([row])],ignore_index=True)
statistic_df

  statisic    math reading writing
0    count    1000    1000    1000
1     mean  66.089  69.169  68.054

In [9]:
desc = df.describe()
desc

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000