In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Students_exams.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         1000 non-null   object
 1   math score     1000 non-null   int64
 2   reading score  1000 non-null   int64
 3   writing score  1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [4]:
x= df['math score'].count()
print('count is = ',x)

count is =  1000

In [5]:
x= df['math score'].mean()
print('mean is = ',x)

mean is =  66.089

In [8]:
x= df['math score'].quantile(0.0)
print('qauntile is = ',x)

qauntile is =  0.0

In [9]:
x= df['math score'].quantile(1.0)
print('qauntile is = ',x)

qauntile is =  100.0

In [14]:
x= df.std(numeric_only=True)
print()

In [15]:
x= df.std(numeric_only=True)
print()

In [16]:
x= df.std(numeric_only=True)
print(x)

math score       15.163080
reading score    14.600192
writing score    15.195657
dtype: float64

In [17]:
x= df['math score'].std()
print(x)

15.163080096009468

In [18]:
x= df.mode()
print(x)

   gender  math score  reading score  writing score
0  female          65             72             74