In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Students_exams.csv')
df

     gender  math score  reading score  writing score
0    female          72             72             74
1    female          69             90             88
2    female          90             95             93
3      male          47             57             44
4      male          76             78             75
..      ...         ...            ...            ...
995  female          88             99             95
996    male          62             55             55
997  female          59             71             65
998  female          68             78             77
999  female          77             86             86

[1000 rows x 4 columns]

In [4]:
resulit = df[1:5]
resulit

   gender  math score  reading score  writing score
1  female          69             90             88
2  female          90             95             93
3    male          47             57             44
4    male          76             78             75

In [5]:
for index , row in df.iterrows():
    print(index,row)

0 gender           female
math score           72
reading score        72
writing score        74
Name: 0, dtype: object
1 gender           female
math score           69
reading score        90
writing score        88
Name: 1, dtype: object
2 gender           female
math score           90
reading score        95
writing score        93
Name: 2, dtype: object
3 gender           male
math score         47
reading score      57
writing score      44
Name: 3, dtype: object
4 gender           male
math score         76
reading score      78
writing score      75
Name: 4, dtype: object
5 gender           female
math score           71
reading score        83
writing score        78
Name: 5, dtype: object
6 gender           female
math score           88
reading score        95
writing score        92
Name: 6, dtype: object
7 gender           male
math score         40
reading score      43
writing score      39
Name: 7, dtype: object
8 gender           male
math score         64
reading score      64
writing score      67
Name: 8, dtype: object
9 gender           female
math score           38
reading score        60
writing score        50
Name: 9, dtype: object
10 gender           male
math score         58
reading score      54
writing score      52
Name: 10, dtype: object
11 gender           male
math score         40
reading score      52
writing score      43
Name: 11, dtype: object
12 gender           female
math score           65
reading score        81
writing score        73
Name: 12, dtype: object
13 gender           male
math score         78
reading score      72
writing score      70
Name: 13, dtype: object
14 gender           female
math score           50
reading score        53
writing score        58
Name: 14, dtype: object
15 gender           female
math score           69
reading score        75
writing score        78
Name: 15, dtype: object
16 gender           male
math score         88
reading score      89
writing score      86
Name: 16, dtype: object
17 gender           female
math score           18
reading score        32
writing score        28
Name: 17, dtype: object
18 gender           male
math score         46
reading score      42
writing score      46
Name: 18, dtype: object
19 gender           female
math score           54
reading score        58
writing score        61
Name: 19, dtype: object
20 gender           male
math score         66
reading score      69
writing score      63
Name: 20, dtype: object
21 gender           female
math score           65
reading score        75
writing score        70
Name: 21, dtype: object
22 gender           male
math score         44
reading score      54
writing score      53
Name: 22, dtype: object
23 gender           female
math score           69
reading score        73
writing score        73
Name: 23, dtype: object
24 gender           male
math score         74
reading score      71
writing score      80
Name: 24, dtype: object
25 gender           male
math score         73
reading score      74
writing score      72
Name: 25, dtype: object
26 gender           male
math score         69
reading score      54
writing score      55
Name: 26, dtype: object
27 gender           female
math score           67
reading score        69
writing score        75
Name: 27, dtype: object
28 gender           male
math score         70
reading score      70
writing score      65
Name: 28, dtype: object
29 gender           female
math score           62
reading score        70
writing score        75
Name: 29, dtype: object
30 gender           female
math score           69
reading score        74
writing score        74
Name: 30, dtype: object
31 gender           female
math score           63
reading score        65
writing score        61
Name: 31, dtype: object
32 gender           female
math score           56
reading score        72
writing score        65
Name: 32, dtype: object
33 gender           male
math score         40
reading score      42
writing score      38
Name: 33, dtype: object
34 gender           male
math score         97
reading score      87
writing score      82
Name: 34, dtype: object
35 gender           male
math score         81
reading score      81
writing score      79
Name: 35, dtype: object
36 gender           female
math score           74
reading score        81
writing score        83
Name: 36, dtype: object
37 gender           female
math score           50
reading score        64
writing score        59
Name: 37, dtype: object
38 gender           female
math score           75
reading score        90
writing score        88
Name: 38, dtype: object
39 gender           male
math score         57
reading score      56
writing score      57
Name: 39, dtype: object
40 gender           male
math score         55
reading score      61
writing score      54
Name: 40, dtype: object
41 gender           female
math score           58
reading score        73
writing score        68
Name: 41, dtype: object
42 gender           female
math score           53
reading score        58
writing score        65
Name: 42, dtype: object
43 gender           male
math score         59
reading score      65
writing score      66
Name: 43, dtype: object
44 gender           female
math score           50
reading score        56
writing score        54
Name: 44, dtype: object
45 gender           male
math score         65
reading score      54
writing score      57
Name: 45, dtype: object
46 gender           female
math score           55
reading score        65
writing score        62
Name: 46, dtype: object
47 gender           female
math score           66
reading score        71
writing score        76
Name: 47, dtype: object
48 gender           female
math score           57
reading score        74
writing score        76
Name: 48, dtype: object
49 gender           male
math score         82
reading score      84
writing score      82
Name: 49, dtype: object
50 gender           male
math score         53
reading score      55
writing score      48
Name: 50, dtype: object
51 gender           male
math score         77
reading score      69
writing score      68
Name: 51, dtype: object
52 gender           male
math score         53
reading score      44
writing score      42
Name: 52, dtype: object
53 gender           male
math score         88
reading score      78
writing score      75
Name: 53, dtype: object
54 gender           female
math score           71
reading score        84
writing score        87
Name: 54, dtype: object
55 gender           female
math score           33
reading score        41
writing score        43
Name: 55, dtype: object
56 gender           female
math score           82
reading score        85
writing score        86
Name: 56, dtype: object
57 gender           male
math score         52
reading score      55
writing score      49
Name: 57, dtype: object
58 gender           male
math score         58
reading score      59
writing score      58
Name: 58, dtype: object
59 gender           female
math score            0
reading score        17
writing score        10
Name: 59, dtype: object
60 gender           male
math score         79
reading score      74
writing score      72
Name: 60, dtype: object
61 gender           male
math score         39
reading score      39
writing score      34
Name: 61, dtype: object
62 gender           male
math score         62
reading score      61
writing score      55
Name: 62, dtype: object
63 gender           female
math score           69
reading score        80
writing score        71
Name: 63, dtype: object
64 gender           female
math score           59
reading score        58
writing score        59
Name: 64, dtype: object
65 gender           male
math score         67
reading score      64
writing score      61
Name: 65, dtype: object
66 gender           male
math score         45
reading score      37
writing score      37
Name: 66, dtype: object
67 gender           female
math score           60
reading score        72
writing score        74
Name: 67, dtype: object
68 gender           male
math score         61
reading score      58
writing score      56
Name: 68, dtype: object
69 gender           female
math score           39
reading score        64
writing score        57
Name: 69, dtype: object
70 gender           female
math score           58
reading score        63
writing score        73
Name: 70, dtype: object
71 gender           male
math score         63
reading score      55
writing score      63
Name: 71, dtype: object
72 gender           female
math score           41
reading score        51
writing score        48
Name: 72, dtype: object
73 gender           male
math score         61
reading score      57
writing score      56
Name: 73, dtype: object
74 gender           male
math score         49
reading score      49
writing score      41
Name: 74, dtype: object
75 gender           male
math score         44
reading score      41
writing score      38
Name: 75, dtype: object
76 gender           male
math score         30
reading score      26
writing score      22
Name: 76, dtype: object
77 gender           male
math score         80
reading score      78
writing score      81
Name: 77, dtype: object
78 gender           female
math score           61
reading score        74
writing score        72
Name: 78, dtype: object
79 gender           female
math score           62
reading score        68
writing score        68
Name: 79, dtype: object
80 gender           female
math score           47
reading score        49
writing score        50
Name: 80, dtype: object
81 gender           male
math score         49
reading score      45
writing score      45
Name: 81, dtype: object
82 gender           male
math score         50
reading score      47
writing score      54
Name: 82, dtype: object
83 gender           male
math score         72
reading score      64
writing score      63
Name: 83, dtype: object
84 gender           male
math score         42
reading score      39
writing score      34
Name: 84, dtype: object
85 gender           female
math score           73
reading score        80
writing score        82
Name: 85, dtype: object
86 gender           female
math score           76
reading score        83
writing score        88
Name: 86, dtype: object
87 gender           female
math score           71
reading score        71
writing score        74
Name: 87, dtype: object
88 gender           female
math score           58
reading score        70
writing score        67
Name: 88, dtype: object
89 gender           female
math score           73
reading score        86
writing score        82
Name: 89, dtype: object
90 gender           female
math score           65
reading score        72
writing score        74
Name: 90, dtype: object
91 gender           male
math score         27
reading score      34
writing score      36
Name: 91, dtype: object
92 gender           male
math score         71
reading score      79
writing score      71
Name: 92, dtype: object
93 gender           male
math score         43
reading score      45
writing score      50
Name: 93, dtype: object
94 gender           female
math score           79
reading score        86
writing score        92
Name: 94, dtype: object
95 gender           male
math score         78
reading score      81
writing score      82
Name: 95, dtype: object
96 gender           male
math score         65
reading score      66
writing score      62
Name: 96, dtype: object
97 gender           female
math score           63
reading score        72
writing score        70
Name: 97, dtype: object
98 gender           female
math score           58
reading score        67
writing score        62
Name: 98, dtype: object
99 gender           female
math score           65
reading score        67
writing score        62
Name: 99, dtype: object
100 gender           male
math score         79
reading score      67
writing score      67
Name: 100, dtype: object
101 gender           male
math score         68
reading score      74
writing score      74
Name: 101, dtype: object
102 gender           female
math score           85
reading score        91
writing score        89
Name: 102, dtype: object
103 gender           male
math score         60
reading score      44
writing score      47
Name: 103, dtype: object
104 gender           male
math score         98
reading score      86
writing score      90
Name: 104, dtype: object
105 gender           female
math score           58
reading score        67
writing score        72
Name: 105, dtype: object
106 gender           female
math score           87
reading score       100
writing score       100
Name: 106, dtype: object
107 gender           male
math score         66
reading score      63
writing score      64
Name: 107, dtype: object
108 gender           female
math score           52
reading score        76
writing score        70
Name: 108, dtype: object
109 gender           female
math score           70
reading score        64
writing score        72
Name: 109, dtype: object
110 gender           female
math score           77
reading score        89
writing score        98
Name: 110, dtype: object
111 gender           male
math score         62
reading score      55
writing score      49
Name: 111, dtype: object
112 gender           male
math score         54
reading score      53
writing score      47
Name: 112, dtype: object
113 gender           female
math score           51
reading score        58
writing score        54
Name: 113, dtype: object
114 gender           female
math score           99
reading score       100
writing score       100
Name: 114, dtype: object
115 gender           male
math score         84
reading score      77
writing score      74
Name: 115, dtype: object
116 gender           female
math score           75
reading score        85
writing score        82
Name: 116, dtype: object
117 gender           female
math score           78
reading score        82
writing score        79
Name: 117, dtype: object
118 gender           female
math score           51
reading score        63
writing score        61
Name: 118, dtype: object
119 gender           female
math score           55
reading score        69
writing score        65
Name: 119, dtype: object
120 gender           female
math score           79
reading score        92
writing score        89
Name: 120, dtype: object
121 gender           male
math score         91
reading score      89
writing score      92
Name: 121, dtype: object
122 gender           female
math score           88
reading score        93
writing score        93
Name: 122, dtype: object
123 gender           male
math score         63
reading score      57
writing score      56
Name: 123, dtype: object
124 gender           male
math score         83
reading score      80
writing score      73
Name: 124, dtype: object
125 gender           female
math score           87
reading score        95
writing score        86
Name: 125, dtype: object
126 gender           male
math score         72
reading score      68
writing score      67
Name: 126, dtype: object
127 gender           male
math score         65
reading score      77
writing score      74
Name: 127, dtype: object
128 gender           male
math score         82
reading score      82
writing score      74
Name: 128, dtype: object
129 gender           female
math score           51
reading score        49
writing score        51
Name: 129, dtype: object
130 gender           male
math score         89
reading score      84
writing score      82
Name: 130, dtype: object
131 gender           male
math score         53
reading score      37
writing score      40
Name: 131, dtype: object
132 gender           male
math score         87
reading score      74
writing score      70
Name: 132, dtype: object
133 gender           female
math score           75
reading score        81
writing score        84
Name: 133, dtype: object
134 gender           male
math score         74
reading score      79
writing score      75
Name: 134, dtype: object
135 gender           male
math score         58
reading score      55
writing score      48
Name: 135, dtype: object
136 gender           male
math score         51
reading score      54
writing score      41
Name: 136, dtype: object
137 gender           male
math score         70
reading score      55
writing score      56
Name: 137, dtype: object
138 gender           female
math score           59
reading score        66
writing score        67
Name: 138, dtype: object
139 gender           male
math score         71
reading score      61
writing score      69
Name: 139, dtype: object
140 gender           female
math score           76
reading score        72
writing score        71
Name: 140, dtype: object
141 gender           female
math score           59
reading score        62
writing score        64
Name: 141, dtype: object
142 gender           female
math score           42
reading score        55
writing score        54
Name: 142, dtype: object
143 gender           male
math score         57
reading score      43
writing score      47
Name: 143, dtype: object
144 gender           male
math score         88
reading score      73
writing score      78
Name: 144, dtype: object
145 gender           female
math score           22
reading score        39
writing score        33
Name: 145, dtype: object
146 gender           male
math score         88
reading score      84
writing score      75
Name: 146, dtype: object
147 gender           male
math score         73
reading score      68
writing score      66
Name: 147, dtype: object
148 gender           female
math score           68
reading score        75
writing score        81
Name: 148, dtype: object
149 gender           male
math score        100
reading score     100
writing score      93
Name: 149, dtype: object
150 gender           male
math score         62
reading score      67
writing score      69
Name: 150, dtype: object
151 gender           male
math score         77
reading score      67
writing score      68
Name: 151, dtype: object
152 gender           female
math score           59
reading score        70
writing score        66
Name: 152, dtype: object
153 gender           male
math score         54
reading score      49
writing score      47
Name: 153, dtype: object
154 gender           male
math score         62
reading score      67
writing score      61
Name: 154, dtype: object
155 gender           female
math score           70
reading score        89
writing score        88
Name: 155, dtype: object
156 gender           female
math score           66
reading score        74
writing score        78
Name: 156, dtype: object
157 gender           male
math score         60
reading score      60
writing score      60
Name: 157, dtype: object
158 gender           female
math score           61
reading score        86
writing score        87
Name: 158, dtype: object
159 gender           male
math score         66
reading score      62
writing score      64
Name: 159, dtype: object
160 gender           male
math score         82
reading score      78
writing score      74
Name: 160, dtype: object
161 gender           female
math score           75
reading score        88
writing score        85
Name: 161, dtype: object
162 gender           male
math score         49
reading score      53
writing score      52
Name: 162, dtype: object
163 gender           male
math score         52
reading score      53
writing score      49
Name: 163, dtype: object
164 gender           female
math score           81
reading score        92
writing score        91
Name: 164, dtype: object
165 gender           female
math score           96
reading score       100
writing score       100
Name: 165, dtype: object
166 gender           male
math score         53
reading score      51
writing score      51
Name: 166, dtype: object
167 gender           female

In [6]:
for index , row in df.iterrows():
    print(index,row['gender'])

0 female
1 female
2 female
3 male
4 male
5 female
6 female
7 male
8 male
9 female
10 male
11 male
12 female
13 male
14 female
15 female
16 male
17 female
18 male
19 female
20 male
21 female
22 male
23 female
24 male
25 male
26 male
27 female
28 male
29 female
30 female
31 female
32 female
33 male
34 male
35 male
36 female
37 female
38 female
39 male
40 male
41 female
42 female
43 male
44 female
45 male
46 female
47 female
48 female
49 male
50 male
51 male
52 male
53 male
54 female
55 female
56 female
57 male
58 male
59 female
60 male
61 male
62 male
63 female
64 female
65 male
66 male
67 female
68 male
69 female
70 female
71 male
72 female
73 male
74 male
75 male
76 male
77 male
78 female
79 female
80 female
81 male
82 male
83 male
84 male
85 female
86 female
87 female
88 female
89 female
90 female
91 male
92 male
93 male
94 female
95 male
96 male
97 female
98 female
99 female
100 male
101 male
102 female
103 male
104 male
105 female
106 female
107 male
108 female
109 female
110 female
111 male
112 male
113 female
114 female
115 male
116 female
117 female
118 female
119 female
120 female
121 male
122 female
123 male
124 male
125 female
126 male
127 male
128 male
129 female
130 male
131 male
132 male
133 female
134 male
135 male
136 male
137 male
138 female
139 male
140 female
141 female
142 female
143 male
144 male
145 female
146 male
147 male
148 female
149 male
150 male
151 male
152 female
153 male
154 male
155 female
156 female
157 male
158 female
159 male
160 male
161 female
162 male
163 male
164 female
165 female
166 male
167 female
168 female
169 female
170 male
171 male
172 female
173 female
174 female
175 female
176 female
177 female
178 female
179 female
180 male
181 female
182 female
183 female
184 male
185 male
186 male
187 male
188 male
189 female
190 female
191 male
192 female
193 male
194 female
195 male
196 male
197 male
198 female
199 female
200 female
201 female
202 male
203 female
204 male
205 male
206 male
207 male
208 female
209 female
210 male
211 male
212 female
213 male
214 male
215 male
216 female
217 female
218 male
219 male
220 female
221 male
222 female
223 male
224 female
225 female
226 female
227 male
228 male
229 female
230 male
231 male
232 female
233 male
234 male
235 male
236 male
237 female
238 male
239 male
240 male
241 female
242 female
243 male
244 male
245 male
246 male
247 female
248 female
249 male
250 male
251 female
252 female
253 male
254 male
255 female
256 female
257 male
258 female
259 female
260 female
261 male
262 female
263 female
264 male
265 male
266 female
267 female
268 female
269 female
270 male
271 male
272 female
273 female
274 male
275 male
276 female
277 female
278 female
279 male
280 male
281 male
282 female
283 female
284 female
285 male
286 male
287 female
288 male
289 male
290 male
291 male
292 male
293 female
294 male
295 male
296 male
297 male
298 male
299 male
300 male
301 male
302 female
303 male
304 female
305 male
306 male
307 male
308 female
309 female
310 female
311 male
312 male
313 female
314 female
315 male
316 female
317 male
318 male
319 female
320 female
321 female
322 female
323 female
324 female
325 female
326 male
327 male
328 male
329 female
330 male
331 male
332 male
333 male
334 female
335 female
336 male
337 male
338 female
339 female
340 male
341 female
342 female
343 male
344 male
345 female
346 male
347 female
348 male
349 male
350 female
351 male
352 female
353 female
354 female
355 female
356 male
357 female
358 male
359 female
360 female
361 male
362 female
363 female
364 male
365 male
366 male
367 male
368 female
369 female
370 male
371 female
372 male
373 female
374 female
375 male
376 female
377 female
378 female
379 male
380 female
381 male
382 male
383 female
384 female
385 female
386 female
387 female
388 female
389 male
390 male
391 female
392 male
393 male
394 female
395 male
396 female
397 female
398 male
399 male
400 female
401 male
402 female
403 female
404 female
405 female
406 male
407 female
408 female
409 male
410 female
411 male
412 male
413 male
414 female
415 male
416 male
417 male
418 male
419 male
420 female
421 female
422 female
423 female
424 male
425 female
426 male
427 male
428 male
429 male
430 male
431 female
432 male
433 female
434 male
435 male
436 male
437 male
438 male
439 male
440 female
441 female
442 female
443 female
444 male
445 female
446 male
447 male
448 male
449 male
450 female
451 female
452 female
453 male
454 female
455 male
456 female
457 male
458 female
459 male
460 male
461 male
462 female
463 female
464 male
465 female
466 female
467 male
468 female
469 male
470 female
471 female
472 female
473 female
474 female
475 female
476 male
477 male
478 female
479 male
480 male
481 female
482 male
483 male
484 female
485 male
486 male
487 female
488 male
489 male
490 female
491 female
492 female
493 female
494 female
495 male
496 female
497 female
498 female
499 male
500 female
501 female
502 male
503 female
504 female
505 female
506 male
507 male
508 male
509 female
510 male
511 male
512 male
513 female
514 female
515 female
516 female
517 female
518 female
519 female
520 male
521 female
522 male
523 male
524 male
525 male
526 male
527 female
528 female
529 female
530 female
531 female
532 male
533 female
534 male
535 female
536 male
537 female
538 male
539 male
540 male
541 male
542 female
543 female
544 female
545 male
546 female
547 male
548 female
549 male
550 male
551 male
552 female
553 male
554 male
555 female
556 female
557 male
558 female
559 male
560 female
561 female
562 male
563 female
564 male
565 male
566 female
567 female
568 male
569 male
570 male
571 male
572 female
573 female
574 female
575 male
576 male
577 female
578 female
579 female
580 female
581 female
582 female
583 female
584 female
585 female
586 female
587 female
588 female
589 female
590 male
591 male
592 male
593 female
594 female
595 female
596 male
597 male
598 female
599 female
600 female
601 female
602 female
603 male
604 male
605 male
606 female
607 female
608 female
609 female
610 male
611 female
612 male
613 female
614 female
615 female
616 female
617 male
618 male
619 male
620 female
621 male
622 male
623 male
624 female
625 male
626 male
627 male
628 male
629 female
630 male
631 male
632 female
633 female
634 male
635 male
636 female
637 female
638 male
639 female
640 male
641 female
642 female
643 female
644 male
645 female
646 female
647 female
648 female
649 female
650 male
651 female
652 female
653 female
654 female
655 female
656 male
657 male
658 female
659 male
660 male
661 male
662 female
663 female
664 male
665 female
666 female
667 female
668 male
669 male
670 female
671 male
672 female
673 female
674 female
675 female
676 female
677 female
678 male
679 male
680 female
681 male
682 male
683 female
684 male
685 female
686 male
687 male
688 male
689 male
690 female
691 female
692 female
693 female
694 female
695 female
696 female
697 female
698 female
699 male
700 female
701 female
702 male
703 female
704 female
705 male
706 male
707 male
708 male
709 female
710 male
711 female
712 female
713 male
714 female
715 female
716 male
717 female
718 female
719 male
720 female
721 male
722 female
723 male
724 male
725 male
726 female
727 male
728 female
729 male
730 female
731 male
732 female
733 male
734 female
735 male
736 male
737 female
738 male
739 male
740 male
741 female
742 female
743 female
744 male
745 male
746 male
747 male
748 female
749 male
750 male
751 male
752 male
753 female
754 male
755 female
756 male
757 male
758 female
759 male
760 female
761 female
762 male
763 female
764 male
765 female
766 female
767 male
768 female
769 male
770 male
771 male
772 female
773 female
774 male
775 female
776 female
777 female
778 female
779 male
780 female
781 female
782 female
783 female
784 male
785 female
786 female
787 female
788 male
789 female
790 female
791 female
792 male
793 male
794 female
795 female
796 male
797 female
798 male
799 female
800 male
801 male
802 female
803 female
804 female
805 male
806 female
807 female
808 male
809 male
810 male
811 male
812 female
813 male
814 female
815 male
816 female
817 male
818 female
819 female
820 female
821 female
822 male
823 female
824 female
825 male
826 female
827 female
828 female
829 male
830 female
831 female
832 male
833 female
834 male
835 female
836 male
837 female
838 male
839 female
840 female
841 male
842 female
843 male
844 female
845 male
846 male
847 male
848 female
849 male
850 male
851 female
852 female
853 male
854 male
855 female
856 male
857 female
858 male
859 male
860 female
861 female
862 male
863 female
864 male
865 male
866 male
867 male
868 male
869 male
870 male
871 female
872 male
873 male
874 female
875 male
876 male
877 male
878 female
879 female
880 male
881 female
882 female
883 male
884 female
885 female
886 female
887 male
888 female
889 male
890 female
891 female
892 female
893 male
894 female
895 female
896 male
897 female
898 male
899 female
900 male
901 female
902 female
903 female
904 female
905 male
906 male
907 female
908 female
909 male
910 male
911 female
912 female
913 female
914 female
915 female
916 male
917 female
918 female
919 male
920 male
921 female
922 male
923 female
924 male
925 male
926 male
927 female
928 male
929 female
930 male
931 male
932 male
933 male
934 male
935 male
936 male
937 female
938 male
939 male
940 male
941 female
942 male
943 male
944 female
945 female
946 male
947 female
948 male
949 female
950 male
951 female
952 female
953 male
954 female
955 male
956 male
957 female
958 female
959 male
960 female
961 female
962 female
963 female
964 male
965 female
966 male
967 male
968 female
969 female
970 female
971 male
972 female
973 female
974 female
975 female
976 male
977 male
978 male
979 female
980 female
981 male
982 male
983 female
984 female
985 male
986 female
987 male
988 female
989 female
990 male
991 female
992 female
993 female
994 male
995 female
996 male
997 female
998 female
999 female

In [9]:
for col in df.items():
    print(col)

('gender', 0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object)
('math score', 0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64)
('reading score', 0      72
1      90
2      95
3      57
4      78
       ..
995    99
996    55
997    71
998    78
999    86
Name: reading score, Length: 1000, dtype: int64)
('writing score', 0      74
1      88
2      93
3      44
4      75
       ..
995    95
996    55
997    65
998    77
999    86
Name: writing score, Length: 1000, dtype: int64)

In [14]:
for col in df.itertuples():
    print(col.gender)

female
female
female
male
male
female
female
male
male
female
male
male
female
male
female
female
male
female
male
female
male
female
male
female
male
male
male
female
male
female
female
female
female
male
male
male
female
female
female
male
male
female
female
male
female
male
female
female
female
male
male
male
male
male
female
female
female
male
male
female
male
male
male
female
female
male
male
female
male
female
female
male
female
male
male
male
male
male
female
female
female
male
male
male
male
female
female
female
female
female
female
male
male
male
female
male
male
female
female
female
male
male
female
male
male
female
female
male
female
female
female
male
male
female
female
male
female
female
female
female
female
male
female
male
male
female
male
male
male
female
male
male
male
female
male
male
male
male
female
male
female
female
female
male
male
female
male
male
female
male
male
male
female
male
male
female
female
male
female
male
male
female
male
male
female
female
male
female
female
female
male
male
female
female
female
female
female
female
female
female
male
female
female
female
male
male
male
male
male
female
female
male
female
male
female
male
male
male
female
female
female
female
male
female
male
male
male
male
female
female
male
male
female
male
male
male
female
female
male
male
female
male
female
male
female
female
female
male
male
female
male
male
female
male
male
male
male
female
male
male
male
female
female
male
male
male
male
female
female
male
male
female
female
male
male
female
female
male
female
female
female
male
female
female
male
male
female
female
female
female
male
male
female
female
male
male
female
female
female
male
male
male
female
female
female
male
male
female
male
male
male
male
male
female
male
male
male
male
male
male
male
male
female
male
female
male
male
male
female
female
female
male
male
female
female
male
female
male
male
female
female
female
female
female
female
female
male
male
male
female
male
male
male
male
female
female
male
male
female
female
male
female
female
male
male
female
male
female
male
male
female
male
female
female
female
female
male
female
male
female
female
male
female
female
male
male
male
male
female
female
male
female
male
female
female
male
female
female
female
male
female
male
male
female
female
female
female
female
female
male
male
female
male
male
female
male
female
female
male
male
female
male
female
female
female
female
male
female
female
male
female
male
male
male
female
male
male
male
male
male
female
female
female
female
male
female
male
male
male
male
male
female
male
female
male
male
male
male
male
male
female
female
female
female
male
female
male
male
male
male
female
female
female
male
female
male
female
male
female
male
male
male
female
female
male
female
female
male
female
male
female
female
female
female
female
female
male
male
female
male
male
female
male
male
female
male
male
female
male
male
female
female
female
female
female
male
female
female
female
male
female
female
male
female
female
female
male
male
male
female
male
male
male
female
female
female
female
female
female
female
male
female
male
male
male
male
male
female
female
female
female
female
male
female
male
female
male
female
male
male
male
male
female
female
female
male
female
male
female
male
male
male
female
male
male
female
female
male
female
male
female
female
male
female
male
male
female
female
male
male
male
male
female
female
female
male
male
female
female
female
female
female
female
female
female
female
female
female
female
female
male
male
male
female
female
female
male
male
female
female
female
female
female
male
male
male
female
female
female
female
male
female
male
female
female
female
female
male
male
male
female
male
male
male
female
male
male
male
male
female
male
male
female
female
male
male
female
female
male
female
male
female
female
female
male
female
female
female
female
female
male
female
female
female
female
female
male
male
female
male
male
male
female
female
male
female
female
female
male
male
female
male
female
female
female
female
female
female
male
male
female
male
male
female
male
female
male
male
male
male
female
female
female
female
female
female
female
female
female
male
female
female
male
female
female
male
male
male
male
female
male
female
female
male
female
female
male
female
female
male
female
male
female
male
male
male
female
male
female
male
female
male
female
male
female
male
male
female
male
male
male
female
female
female
male
male
male
male
female
male
male
male
male
female
male
female
male
male
female
male
female
female
male
female
male
female
female
male
female
male
male
male
female
female
male
female
female
female
female
male
female
female
female
female
male
female
female
female
male
female
female
female
male
male
female
female
male
female
male
female
male
male
female
female
female
male
female
female
male
male
male
male
female
male
female
male
female
male
female
female
female
female
male
female
female
male
female
female
female
male
female
female
male
female
male
female
male
female
male
female
female
male
female
male
female
male
male
male
female
male
male
female
female
male
male
female
male
female
male
male
female
female
male
female
male
male
male
male
male
male
male
female
male
male
female
male
male
male
female
female
male
female
female
male
female
female
female
male
female
male
female
female
female
male
female
female
male
female
male
female
male
female
female
female
female
male
male
female
female
male
male
female
female
female
female
female
male
female
female
male
male
female
male
female
male
male
male
female
male
female
male
male
male
male
male
male
male
female
male
male
male
female
male
male
female
female
male
female
male
female
male
female
female
male
female
male
male
female
female
male
female
female
female
female
male
female
male
male
female
female
female
male
female
female
female
female
male
male
male
female
female
male
male
female
female
male
female
male
female
female
male
female
female
female
male
female
male
female
female
female

In [15]:
df.columns

Index(['gender', 'math score', 'reading score', 'writing score'], dtype='object')

In [16]:
for col in df.columns:
    print(col)

gender
math score
reading score
writing score

In [17]:
for col in df.columns:
    print(col[2])

n
t
a
i

In [18]:
for col in df.columns:
    print(df[col][2])

female
90
95
93

In [19]:
for index ,  row in df.items():
    print(index, row)

gender 0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object
math score 0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64
reading score 0      72
1      90
2      95
3      57
4      78
       ..
995    99
996    55
997    71
998    78
999    86
Name: reading score, Length: 1000, dtype: int64
writing score 0      74
1      88
2      93
3      44
4      75
       ..
995    95
996    55
997    65
998    77
999    86
Name: writing score, Length: 1000, dtype: int64

In [20]:
for index ,  row in df.iterrows():
    print(index, row)

0 gender           female
math score           72
reading score        72
writing score        74
Name: 0, dtype: object
1 gender           female
math score           69
reading score        90
writing score        88
Name: 1, dtype: object
2 gender           female
math score           90
reading score        95
writing score        93
Name: 2, dtype: object
3 gender           male
math score         47
reading score      57
writing score      44
Name: 3, dtype: object
4 gender           male
math score         76
reading score      78
writing score      75
Name: 4, dtype: object
5 gender           female
math score           71
reading score        83
writing score        78
Name: 5, dtype: object
6 gender           female
math score           88
reading score        95
writing score        92
Name: 6, dtype: object
7 gender           male
math score         40
reading score      43
writing score      39
Name: 7, dtype: object
8 gender           male
math score         64
reading score      64
writing score      67
Name: 8, dtype: object
9 gender           female
math score           38
reading score        60
writing score        50
Name: 9, dtype: object
10 gender           male
math score         58
reading score      54
writing score      52
Name: 10, dtype: object
11 gender           male
math score         40
reading score      52
writing score      43
Name: 11, dtype: object
12 gender           female
math score           65
reading score        81
writing score        73
Name: 12, dtype: object
13 gender           male
math score         78
reading score      72
writing score      70
Name: 13, dtype: object
14 gender           female
math score           50
reading score        53
writing score        58
Name: 14, dtype: object
15 gender           female
math score           69
reading score        75
writing score        78
Name: 15, dtype: object
16 gender           male
math score         88
reading score      89
writing score      86
Name: 16, dtype: object
17 gender           female
math score           18
reading score        32
writing score        28
Name: 17, dtype: object
18 gender           male
math score         46
reading score      42
writing score      46
Name: 18, dtype: object
19 gender           female
math score           54
reading score        58
writing score        61
Name: 19, dtype: object
20 gender           male
math score         66
reading score      69
writing score      63
Name: 20, dtype: object
21 gender           female
math score           65
reading score        75
writing score        70
Name: 21, dtype: object
22 gender           male
math score         44
reading score      54
writing score      53
Name: 22, dtype: object
23 gender           female
math score           69
reading score        73
writing score        73
Name: 23, dtype: object
24 gender           male
math score         74
reading score      71
writing score      80
Name: 24, dtype: object
25 gender           male
math score         73
reading score      74
writing score      72
Name: 25, dtype: object
26 gender           male
math score         69
reading score      54
writing score      55
Name: 26, dtype: object
27 gender           female
math score           67
reading score        69
writing score        75
Name: 27, dtype: object
28 gender           male
math score         70
reading score      70
writing score      65
Name: 28, dtype: object
29 gender           female
math score           62
reading score        70
writing score        75
Name: 29, dtype: object
30 gender           female
math score           69
reading score        74
writing score        74
Name: 30, dtype: object
31 gender           female
math score           63
reading score        65
writing score        61
Name: 31, dtype: object
32 gender           female
math score           56
reading score        72
writing score        65
Name: 32, dtype: object
33 gender           male
math score         40
reading score      42
writing score      38
Name: 33, dtype: object
34 gender           male
math score         97
reading score      87
writing score      82
Name: 34, dtype: object
35 gender           male
math score         81
reading score      81
writing score      79
Name: 35, dtype: object
36 gender           female
math score           74
reading score        81
writing score        83
Name: 36, dtype: object
37 gender           female
math score           50
reading score        64
writing score        59
Name: 37, dtype: object
38 gender           female
math score           75
reading score        90
writing score        88
Name: 38, dtype: object
39 gender           male
math score         57
reading score      56
writing score      57
Name: 39, dtype: object
40 gender           male
math score         55
reading score      61
writing score      54
Name: 40, dtype: object
41 gender           female
math score           58
reading score        73
writing score        68
Name: 41, dtype: object
42 gender           female
math score           53
reading score        58
writing score        65
Name: 42, dtype: object
43 gender           male
math score         59
reading score      65
writing score      66
Name: 43, dtype: object
44 gender           female
math score           50
reading score        56
writing score        54
Name: 44, dtype: object
45 gender           male
math score         65
reading score      54
writing score      57
Name: 45, dtype: object
46 gender           female
math score           55
reading score        65
writing score        62
Name: 46, dtype: object
47 gender           female
math score           66
reading score        71
writing score        76
Name: 47, dtype: object
48 gender           female
math score           57
reading score        74
writing score        76
Name: 48, dtype: object
49 gender           male
math score         82
reading score      84
writing score      82
Name: 49, dtype: object
50 gender           male
math score         53
reading score      55
writing score      48
Name: 50, dtype: object
51 gender           male
math score         77
reading score      69
writing score      68
Name: 51, dtype: object
52 gender           male
math score         53
reading score      44
writing score      42
Name: 52, dtype: object
53 gender           male
math score         88
reading score      78
writing score      75
Name: 53, dtype: object
54 gender           female
math score           71
reading score        84
writing score        87
Name: 54, dtype: object
55 gender           female
math score           33
reading score        41
writing score        43
Name: 55, dtype: object
56 gender           female
math score           82
reading score        85
writing score        86
Name: 56, dtype: object
57 gender           male
math score         52
reading score      55
writing score      49
Name: 57, dtype: object
58 gender           male
math score         58
reading score      59
writing score      58
Name: 58, dtype: object
59 gender           female
math score            0
reading score        17
writing score        10
Name: 59, dtype: object
60 gender           male
math score         79
reading score      74
writing score      72
Name: 60, dtype: object
61 gender           male
math score         39
reading score      39
writing score      34
Name: 61, dtype: object
62 gender           male
math score         62
reading score      61
writing score      55
Name: 62, dtype: object
63 gender           female
math score           69
reading score        80
writing score        71
Name: 63, dtype: object
64 gender           female
math score           59
reading score        58
writing score        59
Name: 64, dtype: object
65 gender           male
math score         67
reading score      64
writing score      61
Name: 65, dtype: object
66 gender           male
math score         45
reading score      37
writing score      37
Name: 66, dtype: object
67 gender           female
math score           60
reading score        72
writing score        74
Name: 67, dtype: object
68 gender           male
math score         61
reading score      58
writing score      56
Name: 68, dtype: object
69 gender           female
math score           39
reading score        64
writing score        57
Name: 69, dtype: object
70 gender           female
math score           58
reading score        63
writing score        73
Name: 70, dtype: object
71 gender           male
math score         63
reading score      55
writing score      63
Name: 71, dtype: object
72 gender           female
math score           41
reading score        51
writing score        48
Name: 72, dtype: object
73 gender           male
math score         61
reading score      57
writing score      56
Name: 73, dtype: object
74 gender           male
math score         49
reading score      49
writing score      41
Name: 74, dtype: object
75 gender           male
math score         44
reading score      41
writing score      38
Name: 75, dtype: object
76 gender           male
math score         30
reading score      26
writing score      22
Name: 76, dtype: object
77 gender           male
math score         80
reading score      78
writing score      81
Name: 77, dtype: object
78 gender           female
math score           61
reading score        74
writing score        72
Name: 78, dtype: object
79 gender           female
math score           62
reading score        68
writing score        68
Name: 79, dtype: object
80 gender           female
math score           47
reading score        49
writing score        50
Name: 80, dtype: object
81 gender           male
math score         49
reading score      45
writing score      45
Name: 81, dtype: object
82 gender           male
math score         50
reading score      47
writing score      54
Name: 82, dtype: object
83 gender           male
math score         72
reading score      64
writing score      63
Name: 83, dtype: object
84 gender           male
math score         42
reading score      39
writing score      34
Name: 84, dtype: object
85 gender           female
math score           73
reading score        80
writing score        82
Name: 85, dtype: object
86 gender           female
math score           76
reading score        83
writing score        88
Name: 86, dtype: object
87 gender           female
math score           71
reading score        71
writing score        74
Name: 87, dtype: object
88 gender           female
math score           58
reading score        70
writing score        67
Name: 88, dtype: object
89 gender           female
math score           73
reading score        86
writing score        82
Name: 89, dtype: object
90 gender           female
math score           65
reading score        72
writing score        74
Name: 90, dtype: object
91 gender           male
math score         27
reading score      34
writing score      36
Name: 91, dtype: object
92 gender           male
math score         71
reading score      79
writing score      71
Name: 92, dtype: object
93 gender           male
math score         43
reading score      45
writing score      50
Name: 93, dtype: object
94 gender           female
math score           79
reading score        86
writing score        92
Name: 94, dtype: object
95 gender           male
math score         78
reading score      81
writing score      82
Name: 95, dtype: object
96 gender           male
math score         65
reading score      66
writing score      62
Name: 96, dtype: object
97 gender           female
math score           63
reading score        72
writing score        70
Name: 97, dtype: object
98 gender           female
math score           58
reading score        67
writing score        62
Name: 98, dtype: object
99 gender           female
math score           65
reading score        67
writing score        62
Name: 99, dtype: object
100 gender           male
math score         79
reading score      67
writing score      67
Name: 100, dtype: object
101 gender           male
math score         68
reading score      74
writing score      74
Name: 101, dtype: object
102 gender           female
math score           85
reading score        91
writing score        89
Name: 102, dtype: object
103 gender           male
math score         60
reading score      44
writing score      47
Name: 103, dtype: object
104 gender           male
math score         98
reading score      86
writing score      90
Name: 104, dtype: object
105 gender           female
math score           58
reading score        67
writing score        72
Name: 105, dtype: object
106 gender           female
math score           87
reading score       100
writing score       100
Name: 106, dtype: object
107 gender           male
math score         66
reading score      63
writing score      64
Name: 107, dtype: object
108 gender           female
math score           52
reading score        76
writing score        70
Name: 108, dtype: object
109 gender           female
math score           70
reading score        64
writing score        72
Name: 109, dtype: object
110 gender           female
math score           77
reading score        89
writing score        98
Name: 110, dtype: object
111 gender           male
math score         62
reading score      55
writing score      49
Name: 111, dtype: object
112 gender           male
math score         54
reading score      53
writing score      47
Name: 112, dtype: object
113 gender           female
math score           51
reading score        58
writing score        54
Name: 113, dtype: object
114 gender           female
math score           99
reading score       100
writing score       100
Name: 114, dtype: object
115 gender           male
math score         84
reading score      77
writing score      74
Name: 115, dtype: object
116 gender           female
math score           75
reading score        85
writing score        82
Name: 116, dtype: object
117 gender           female
math score           78
reading score        82
writing score        79
Name: 117, dtype: object
118 gender           female
math score           51
reading score        63
writing score        61
Name: 118, dtype: object
119 gender           female
math score           55
reading score        69
writing score        65
Name: 119, dtype: object
120 gender           female
math score           79
reading score        92
writing score        89
Name: 120, dtype: object
121 gender           male
math score         91
reading score      89
writing score      92
Name: 121, dtype: object
122 gender           female
math score           88
reading score        93
writing score        93
Name: 122, dtype: object
123 gender           male
math score         63
reading score      57
writing score      56
Name: 123, dtype: object
124 gender           male
math score         83
reading score      80
writing score      73
Name: 124, dtype: object
125 gender           female
math score           87
reading score        95
writing score        86
Name: 125, dtype: object
126 gender           male
math score         72
reading score      68
writing score      67
Name: 126, dtype: object
127 gender           male
math score         65
reading score      77
writing score      74
Name: 127, dtype: object
128 gender           male
math score         82
reading score      82
writing score      74
Name: 128, dtype: object
129 gender           female
math score           51
reading score        49
writing score        51
Name: 129, dtype: object
130 gender           male
math score         89
reading score      84
writing score      82
Name: 130, dtype: object
131 gender           male
math score         53
reading score      37
writing score      40
Name: 131, dtype: object
132 gender           male
math score         87
reading score      74
writing score      70
Name: 132, dtype: object
133 gender           female
math score           75
reading score        81
writing score        84
Name: 133, dtype: object
134 gender           male
math score         74
reading score      79
writing score      75
Name: 134, dtype: object
135 gender           male
math score         58
reading score      55
writing score      48
Name: 135, dtype: object
136 gender           male
math score         51
reading score      54
writing score      41
Name: 136, dtype: object
137 gender           male
math score         70
reading score      55
writing score      56
Name: 137, dtype: object
138 gender           female
math score           59
reading score        66
writing score        67
Name: 138, dtype: object
139 gender           male
math score         71
reading score      61
writing score      69
Name: 139, dtype: object
140 gender           female
math score           76
reading score        72
writing score        71
Name: 140, dtype: object
141 gender           female
math score           59
reading score        62
writing score        64
Name: 141, dtype: object
142 gender           female
math score           42
reading score        55
writing score        54
Name: 142, dtype: object
143 gender           male
math score         57
reading score      43
writing score      47
Name: 143, dtype: object
144 gender           male
math score         88
reading score      73
writing score      78
Name: 144, dtype: object
145 gender           female
math score           22
reading score        39
writing score        33
Name: 145, dtype: object
146 gender           male
math score         88
reading score      84
writing score      75
Name: 146, dtype: object
147 gender           male
math score         73
reading score      68
writing score      66
Name: 147, dtype: object
148 gender           female
math score           68
reading score        75
writing score        81
Name: 148, dtype: object
149 gender           male
math score        100
reading score     100
writing score      93
Name: 149, dtype: object
150 gender           male
math score         62
reading score      67
writing score      69
Name: 150, dtype: object
151 gender           male
math score         77
reading score      67
writing score      68
Name: 151, dtype: object
152 gender           female
math score           59
reading score        70
writing score        66
Name: 152, dtype: object
153 gender           male
math score         54
reading score      49
writing score      47
Name: 153, dtype: object
154 gender           male
math score         62
reading score      67
writing score      61
Name: 154, dtype: object
155 gender           female
math score           70
reading score        89
writing score        88
Name: 155, dtype: object
156 gender           female
math score           66
reading score        74
writing score        78
Name: 156, dtype: object
157 gender           male
math score         60
reading score      60
writing score      60
Name: 157, dtype: object
158 gender           female
math score           61
reading score        86
writing score        87
Name: 158, dtype: object
159 gender           male
math score         66
reading score      62
writing score      64
Name: 159, dtype: object
160 gender           male
math score         82
reading score      78
writing score      74
Name: 160, dtype: object
161 gender           female
math score           75
reading score        88
writing score        85
Name: 161, dtype: object
162 gender           male
math score         49
reading score      53
writing score      52
Name: 162, dtype: object
163 gender           male
math score         52
reading score      53
writing score      49
Name: 163, dtype: object
164 gender           female
math score           81
reading score        92
writing score        91
Name: 164, dtype: object
165 gender           female
math score           96
reading score       100
writing score       100
Name: 165, dtype: object
166 gender           male
math score         53
reading score      51
writing score      51
Name: 166, dtype: object
167 gender           female

In [34]:
res= df.loc[1:3,['gender']]
res
for index ,  row in res.iterrows():
    print(index, row)

1 gender    female
Name: 1, dtype: object
2 gender    female
Name: 2, dtype: object
3 gender    male
Name: 3, dtype: object